[% # RESOURCE BUNDLE %]

[% SET rb.h1 = "Ajax examples" %]
[% SET rb.th_funkce = "Function name" %]
[% SET rb.th_spustit = "Runnig example" %]
[% SET rb.a_prepsat = "Rewrite" %]
[% SET rb.a_prepsat_vse = "Rewrite two elements" %]
[% SET rb.a_stranka = "Error page" %]
[% SET rb.a_stranka2 = "Bad parameter" %]
[% SET rb.a_redirect = "Redirect to homepage" %]
[% SET rb.a_redirect2 = "Redirect to homepage with msg" %]

[% SET rb.msg.error_replaceHtmlSimple = "Incorect parameter 'xyz' (HTML)" %]
[% SET rb.msg.error_replaceHtml = "Incorect parameter 'xyz' (JSON)" %]
[% SET rb.msg.ok_redirect2 = "Redirect OK" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]