!Build/
.last_cover_stats
.vscode
.DS_Store
/ramdisk
/META.yml
/META.json
/MYMETA.*
/TODO.txt
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUitls::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

# PWE
PWE.komodoproject
webapps/
examples/generic_web/log
examples/generic_web/temp
examples/generic_web/ramdisk
examples/static_web/log
examples/static_web/temp
examples/static_web/ramdisk
