package Entities::[% entityname %]::[% entityname %];

use strict;
use base qw(Entities::Entity);

my($CONF,$LOG,$VALIDATE,$DBI,$USER,$WEB);

sub new {
    my ($class,$conf,$log,$validate,$dbi,$user,$web,$opts) = @_;

    $DBI  = $dbi;
    $LOG  = $log;
    $CONF = $conf;
    $USER = $user;
    $WEB = $web;
    $VALIDATE = $validate;
        
    my $self = new Entities::Entity($CONF,$LOG,$VALIDATE,$DBI,$USER,$WEB,"db1","[% dbtable %]",$opts);
    
    bless $self,$class;
    return $self;
}

# KOMODO-IDE/KOMODO-EDIT
sub KOMODO {
    return;
    require Libs::Config;
    require Libs::Log;
    require Libs::Validate;
    require Libs::DBI;
    require Libs::User;
    $CONF = new Libs::Config;
    $LOG = new Libs::Log;
    $VALIDATE = new Libs::Validate;
    $DBI = new Libs::DBI;
    $USER = new Libs::User;
}

1;
