[% # RESOURCE BUNDLE %]

[% SET rb.dbtable_newer = "Další" %]
[% SET rb.dbtable_older = "Zpět" %]

[% SET rb.table_head_uid = "# ID" %]
[% SET rb.table_head_fullname = "Jmeno" %]
[% SET rb.table_head_created = "Vytvoreno" %]
[% SET rb.table_head_updated = "Zmeneno" %]
[% SET rb.table_head_active = "Volba" %]
