[% # MESSENGER %]

[% SET rb.a_menu_ikonky = "Ikons" %]
[% SET rb.a_menu_formulare = "Forms" %]

[% SET rb.messanger_error_title = "Incorrect parameter" %]
[% SET rb.messanger_allright_title = "All right" %]


[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]