[% # RESOURCE BUNDLE %]

[% SET rb.h1 = "Práce s databází" %]
[% SET rb.h2_form = "Založení uživatele" %]
[% SET rb.h2_table = "Seznam uživatelů" %]
[% SET rb.form_fullname_page = "Celé jméno uživatele" %]
[% SET rb.form_fullname_placeholder = "Zadejte jmeno uživatele" %]
[% SET rb.form_button_page = "Založit uživatele" %]

[% SET rb.msg.error_active_status = "Chybně zadaná hodnota boolen (true/false)" %]
[% SET rb.msg.enable_active_status = "Stav byl změněn na <b>aktivní</b>" %]
[% SET rb.msg.disable_active_status = "Stav byl změněn na <b>neaktivní</b>" %]
[% SET rb.msg.ok_account_created = "Účet založen" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]

