[% # RESOURCE BUNDLE %]

[% SET rb.h1 = "Jak na formuláře" %]
[% SET rb.h2 = "formulář" %]
[% SET rb.form_checkbox = "Checkbox" %]
[% SET rb.form_button = "Uložit" %]
[% SET rb.form_fullname = "Jméno" %]
[% SET rb.form_selectbox = "Select" %]
[% SET rb.form_button = "Tlačítko" %]

[% SET rb.msg_browser = "Zobrazit nahrané soubory" %]
[% SET rb.msg.correct_form = "Vše v pořádku" %]
[% SET rb.msg.error_file_is_exist = "Soubor již existuje a volba pro přepsáni je vypnutá" %]
[% SET rb.msg.error_parameter_is_empty = "Nenahrali jste pozadovany soubor" %]

[% SET rb.msg.error_exist__email = "Nezadali jste email" %]
[% SET rb.msg.error_exist__fullname = "Nezadali jste jmeno" %]
[% SET rb.msg.error_exist__fullname = "Nezadali jste jmeno" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]