[% # RESOURCE BUNDLE %]

[% SET rb.h1 = "Form examples" %]
[% SET rb.h2 = "Form name" %]
[% SET rb.form_checkbox = "Checkbox" %]
[% SET rb.form_button = "Save" %]
[% SET rb.form_fullname = "Name" %]
[% SET rb.form_selectbox = "Select" %]
[% SET rb.form_button = "Button" %]
[% SET rb.msg_browser = "Browse upload file" %]
[% SET rb.msg.error_file_is_exist = "File exists and rewrite atribute is disabled" %]
[% SET rb.msg.error_parameter_is_empty = "You must upload file" %]
[% SET rb.msg.correct_form = "OK" %]
[% SET rb.msg.error_exist__email = "Required email " %]
[% SET rb.msg.error_exist__fullname = "equired name" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]