
[% IF ajaxjson %]
onclick="replaceHTML('[% href %]',[% IF src %][% src %][% ELSE %]$(this)[% END %]); return false;" href=""
[% ELSIF ajaxhtml %]
onclick="replaceHTMLSimple('[% href %]',[% IF src %][% src %][% ELSE %]$(this)[% END %],[% IF dst %][% dst %][% ELSE %]$(this)[% END %]); return false;" href=""
[% ELSE %]
href="[% href %]"
[% END %]