[% PROCESS templatesCommons/resource_bundle.tmpl %]
[% IF msg_error %]
  <ul>
    [% FOREACH v = msg_error %]
	[% IF msg.$v %]
	    <li>[% msg.$v %]</li>
	[% ELSIF rb.msg.$v %]
	    <li>[% rb.msg.$v %]</li>
	[% ELSE %]
	    <li>[[% "msg.$v" %]]</li>
	[% END %]
    [% END %]
    </ul>
	[% IF disable_scrolltomessenger %]<span id="disablescrolltomessenger"><!--javascript property--></span>[% END %]
[% END %]
[% IF msg_allright %]
  <strong>[% IF $idp.messanger_error_title %][% $idp.messanger_allright_title %][% ELSIF rb.$idp.messanger_allright_title %][% rb.$idp.messanger_allright_title %][% ELSIF rb.messanger_allright_title %][% rb.messanger_allright_title %][% ELSE %][% messanger_allright_title %][% END %]</strong>
    <ul>
    [% FOREACH v = msg_allright %]
	[% IF msg.$v %]
	    <li>[% msg.$v %]</li>
	[% ELSIF rb.msg.$v %]
	    <li>[% rb.msg.$v %]</li>
	[% ELSE %]
	    <li>[[% "msg.$v" %]]</li>
	[% END %]
    [% END %]
    </ul>
	[% IF disable_scrolltomessenger %]<span id="disablescrolltomessenger"><!--javascript property--></span>[% END %]
[% END %]
