[% # RESOURCE BUNDLE %]

[% SET rb.h1 = "Jak na ajax" %]
[% SET rb.th_funkce = "Název funkce" %]
[% SET rb.th_spustit = "Spustit ukázku" %]
[% SET rb.a_prepsat = "Přepsat" %]
[% SET rb.a_prepsat_vse = "Přepsat oba elementy" %]
[% SET rb.a_stranka = "Chybná stránka" %]
[% SET rb.a_stranka2 = "Chybné hodnoty" %]
[% SET rb.a_redirect = "Přesměrovat na homepage" %]
[% SET rb.a_redirect2 = "Přesměrovat na homepage s msg" %]

[% SET rb.msg.error_replaceHtmlSimple = "Zadali jste špatně parameter 'xyz' (HTML)" %]
[% SET rb.msg.error_replaceHtml = "Zadali jste špatně parameter 'xyz' (JSON)" %]
[% SET rb.msg.ok_redirect2 = "Redirect OK" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]