Status: [% status %]
Set-Cookie: [% cookie_name %]=[% cookie_id %]; domain=[% http_host %]; path=[% http_host_path %]; expires=[% cookie_expire_date %]
Date: [% http_gmt_date %]
Pragma: no-cache
Cache-control: max-age=0, no-store, no-cache, must-revalidate, post-check=0, pre-check=0
Encoding: UTF-8
Content-Type: text/html; charset=UTF-8

