[% # RESOURCE BUNDLE %]

[% SET rb.e404.messanger_error_title = "Error 404" %]
[% SET rb.msg.error_page_not_found = "Page not found: $request_uri" %]

[% SET rb.e500.messanger_error_title = "Internal Error 500" %]
[% SET rb.msg.error_hups = "Something is Wrong...." %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]