
[% # MESSENGER %]
[% SET rb.msg.error_exist__replyto = "Nezadali jste email" %]
[% SET rb.msg.error_exist__to = "Nezadali jste email" %]
[% SET rb.msg.error_exist__from = "Nezadali jste email" %]
[% SET rb.msg.error_exist__subject = "Nezadali jste předmět zprávy" %]
[% SET rb.msg.error_exist__text = "Nezadali jste obsah zprávy" %]

[% SET rb.msg.error_validate__replyto = "Email má nesprávný tvar" %]
[% SET rb.msg.error_validate__to = "Email má nesprávný tvar" %]
[% SET rb.msg.error_validate__from = "Email má nesprávný tvar" %]

[% SET rb.msg.success_send =  "Vaše zpráva byla v pořádku odeslána" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]