[% # MESSENGER %]

[% SET rb.a_menu_ikonky = "Ikonky" %]
[% SET rb.a_menu_formulare = "Formuláře" %]

[% SET rb.messanger_allright_title = "Úspěch" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]