[% # MESSENGER %]

[% SET rb.ajaxExamples = "Ajax" %]
[% SET rb.formExamples = "Form" %]
[% SET rb.dbTableExamples = "Database" %]
[% SET rb.responsive = "Responsive" %]
[% SET rb.datadump = "DataDumper" %]
[% SET rb.pweCreator = "pweCreator" %]
[% SET rb.NewBootstrap523 = "523" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]