[% # RESOURCE BUNDLE %]

[% SET rb.e401.messanger_error_title = "Chyba 401" %]
[% SET rb.e404.messanger_error_title = "Chyba 404" %]
[% SET rb.e500.messanger_error_title = "Chyba 500" %]
[% SET rb.cgi_error.messanger_error_title = "Chyba CGI:$status" %]

[% SET rb.msg.error_page_not_found = "Stránka neexistuje: '$request_uri'" %]

[% SET rb.msg.error_hups = "Něco se pokazilo..." %]

[% SET rb.msg.error_cgi_error = "CGI Error: $cgi_error" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]