[% # RESOURCE BUNDLE %]

[% SET rb.h1 = "PWE Creator" %]
[% SET rb.h2_createpage = "Založit stránku" %]
[% SET rb.h2_createservice = "Založit servisu" %]
[% SET rb.h2_createsite = "Založit saitu" %]
[% SET rb.h2_createentity = "Založit entitu" %]

[% SET rb.form_name_page = "Jméno stránky" %]
[% SET rb.form_name_service = "Jméno servisy" %]
[% SET rb.form_name_site = "Jméno sity" %]
[% SET rb.form_name_entity = "Jméno entity" %]
[% SET rb.form_def_entity = "Jméno tabulky" %]
[% SET rb.form_def_site = "Výchozí sajta" %]
[% SET rb.form_def_services = "Připojit servisy" %]
[% SET rb.form_name_page_placeholder = "Napiš jak se bude stranka jmenovat např. userAccount" %]
[% SET rb.form_name_service_placeholder = "Napiš jak se bude servisa jmenovat např. AccountService" %]
[% SET rb.form_name_site_placeholder = "Napiš jak se bude sajta jmenovat např. MyAccount" %]
[% SET rb.form_name_entity_placeholder = "Napiš jak se bude entita jmenovat např. MyAccount" %]
[% SET rb.form_button_page = "Založit stránku" %]
[% SET rb.form_button_service = "Založit servisu" %]
[% SET rb.form_button_site = "Založit sajtu" %]
[% SET rb.form_button_entity = "Založit entitu" %]
[% SET rb.msg.cpage_created = "Stránka založena" %]
[% SET rb.msg.cservice_created = "Servisa založena" %]
[% SET rb.msg.csite_created = "Sajta založena" %]
[% SET rb.msg.centity_created = "Entita založena" %]
[% SET rb.msg.error_exist__pagename = "Nezadali jste název stranky" %]
[% SET rb.msg.error_exist__servicename = "Nezadali jste název servisy" %]
[% SET rb.msg.error_exist__entityname = "Nezadali jste název entity" %]
[% SET rb.msg.error_exist__dbtable = "Nezvolili jste název databázové tabulky" %]
[% SET rb.msg.error_exist__sitename = "Nezadali jste název sajty" %]

[% # POZOR soubor rb.tmpl musi koncit prazdnym radkem !!! (bug) %]